# MAX API
MAX_TOKEN=
MAX_API_URL=https://platform-api.max.ru

# Chatwoot
#Токен УЗ через которую будет осуществляться связь с Chatwoot
CHATWOOT_TOKEN=
#Номер УЗ в Chatwoot
CHATWOOT_ACCOUNT=
#ID инбокса в Chatwoot (источника)
CHATWOOT_INBOX_ID=1
CHATWOOT_URL=http://chatwoot:3000
DATABASE_URL=postgres://chatwoot:chatwoot_pass@postgres:5432/chatwoot

# Bridge
BRIDGE_PORT=3002

# Chatwoot App
SECRET_KEY_BASE=5319f22e1c9abe8fb1269bbf8abebd4356834821be49bdff4c9aabe600b5f4f8
CHATWOOT_PORT=3005
#Необходимо указать URL на котором будет доступен Chatwoot App (или адрес сервера)
FRONTEND_URL= 